.body{
    background: #ccc;
}
.header{
    padding: 20px;
    background: #0d6efd;
    display: flex;
    justify-content: center;
}
.logo{
    max-width: 250px;
}
.-h2{
    font-size: 20px;
}
.main{
    padding: 20px;
    margin: 45px auto;
    max-width: 1000px;
    border-radius: 20px;
    background: white;
}
.-section{
    padding: 20px 0;
    border-bottom: 1px solid gray;
}
.-no-input{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.-hide-form{
    margin: 20px 0;
    display: none;
    flex-direction: column;
}
.inputs-conteiner{
    display: flex;
    flex-direction: column;
}
.input-conteiner{
    margin: 20px 0;
}
.-button{
    width: 262px;
}
.label{
    width: 240px;
}
.label-file{
    width: 160px;
}
.text-help{
    margin: 0;
    color: gray;
    text-align: center;
}